.form-update {
    padding: 20px;
    margin-top: 20px;
    background-color: whitesmoke;

    input.ng-invalid {
        border-left: 5px solid red;
    }

    input.ng-valid {
        border-left: 5px solid green;
    }

    .error {
        margin-top: 5px;
        color: red;
    }
}

.form-title {
    text-align: center;
}

.alert {
    margin-top: 10px;
}